body{
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header{
  height: 60px;
  background-color: #fff;
  border-radius: 6px;
  font-family: helvetica sans-serif;
  text-align: center;
}
.leftset{
  width:200px;
  height: 600px;
  background-color: #fff;
  border-radius: 6px;
  float: left;

}
.rightset{
  margin-left: 270px;
  height: 600px;
  background-color: #fff;
  border-radius: 6px;
}
.logo{
width: 300px;
height: 250px;
margin-left: 40px;
margin-top: 40px;
border-radius: 6px;
float: left;
}
.title{
  color: #fff;
  font-size: 20pt;
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
display: inline;
float: left;
}
li a{
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: "bradley hand ITC", serif;
  color: brown;
  font-weight: 200;
  font-size: 20px;
}
h1 {
  text-align: center;
  color: #0000fc;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: monospace;
}
.indetails{
  margin-left: 380px;
  margin-top: 50px;
  line-height: 30px;
  letter-spacing: 1.2px;
  font-family: monospace;
  font-size: 12pt;
}
.footer{
  background-color: #fff;
  height: 40px;
  border-radius: 6px;
}
